stages:
  - build
  - test
  - quality
  - security
  - docker

variables:
  SONAR_PROJECT_KEY: "free-chat"
  DOCKER_IMAGE: "$DOCKER_USERNAME/free-chat"

# ---------------- BUILD ----------------
build:
  stage: build
  image: maven:3.9-eclipse-temurin-17
  script:
    - cd backend
    - mvn clean compile

# ---------------- TEST ----------------
test:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  script:
    - cd backend
    - mvn clean package -DskipTests

# ---------------- SONARQUBE ----------------
sonarqube:
  stage: quality
  image: maven:3.9-eclipse-temurin-17
  script:
    - cd backend
    - mvn sonar:sonar \
        -Dsonar.projectKey=$SONAR_PROJECT_KEY \
        -Dsonar.host.url=$SONAR_URL \
        -Dsonar.login=$SONAR_TOKEN
  allow_failure: false

# ---------------- TRIVY SECURITY SCAN ----------------
trivy_scan:
  stage: security
  image: aquasec/trivy:latest
  script:
    - trivy fs . --severity HIGH,CRITICAL --format json --output trivy-report.json
  artifacts:
    when: always
    paths:
      - trivy-report.json

# ---------------- DOCKER BUILD & PUSH ----------------
docker_build_push:
  stage: docker
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo "$DOCKER_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker build -t $DOCKER_IMAGE:latest .
    - docker push $DOCKER_IMAGE:latest
