body {
  background-color: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: #1e293b;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #22c55e;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #16a34a;
}
